/*-----------------------------------------------------------------*/
/* BASIC SETUP */
/*-----------------------------------------------------------------*/


* {
    margin: 0;
    padding: 0;

}

html,
body{
    /*background-color: #FFF;
    color: #555;
    font-family: 'lato', 'arial', sans-serif;
    font-size: 20ppx;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;*/
}

/*-----------------------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*-----------------------------------------------------------------*/

.row {
    
    max-width: 1140px;
    margin: 0 auto;
}

h1, h2 {
    text-transform: uppercase;
    color: #2E64FE;
    margin-bottom: 20px;
    margin-top: 20px;
    
    
}

h1 {
    vertical-align: middle;
    text-align:center;
}

h2 {
    border-bottom: 5px solid;
    width: 30%
}


p {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: justify;
    letter-spacing: 0.0625em;
}

.hf-style {
    
    background-color: #e0e0e0;
    
}

/*-----------------------------------------------------------------*/
/* HEADING */
/*-----------------------------------------------------------------*/




.main-heading {
     
    display: table;
    
    
}

.profile-photo {
    float: right;
    height: 100px;
    width: auto;
    border-radius: 10%;
    border: solid;
    margin: 0px 10px; 
        
}

/*-----------------------------------------------------------------*/
/* Personal */
/*-----------------------------------------------------------------*/

.personal-test {
    
    max-width: 1000px;
}

/*-----------------------------------------------------------------*/
/* Ideal */
/*-----------------------------------------------------------------*/

.seek-photo {
    float: right;
    height: 400px;
    width: auto;
    margin: 0px 10px;  
        
}


.seek-link {
    float: right;
    clear: right;
    display: block;
    margin-right: 60px;
}

/*-----------------------------------------------------------------*/
/* Ideal */
/*-----------------------------------------------------------------*/


footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    clear: both;
    height: 80px;
    
}

footer p {
    text-align: center;
    padding-top: 25px;
    
}


